body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

* ::before::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}



/* ================= HEADER-MOBILE =================*/
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.accent {
    color: #2e2f42;
}

.header-logo {
    color: #4d5ae5;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
}

.page-header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ================= /HEADER-MOBILE =================*/

/* ================= HERO-SECTION-MOBILE =================*/
/* ?????????????????????????? */
.hero-section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/hero-photo-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 72px 0;
    margin: 0 auto;
}

.hero-container {
    text-align: center;
}

.hero-text {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 72px;
    max-width: 200px;
}

.button {
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #FFF;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767x) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-photo-mobile@2x.jpg);
    }
}

/* ================= /HERO-SECTION-MOBILE =================*/

/* ================= CHARACTERISTICS-SECTION2-MOBILE =================*/
.benefits {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.section-pad {
    padding: 96px 0;
}

.characteristics-name {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.characteristics-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 500;
}

/* ================= /CHARACTERISTICS-SECTION2-MOBILE =================*/

/* ================= OUR-TEAM-SECTION3-MOBILE =================*/
.our-team-section {
    background-color: #F4F4FD;
}

.our-team-section .characteristics-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-team-section .characteristics-text {
    font-weight: 400;
}

.name-text {
    padding: 32px 0;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.photo-workers .name-text {
    text-align: center;
}

.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.photo-workers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.info-workers {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.icon {
    fill: #F4F4FD;
}

/* ================= /OUR-TEAM-SECTION3-MOBILE =================*/

/* ================= OUR-PORTFOLIO-SECTION4-MOBILE =================*/
.our-portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.application-category {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.info-workers {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.our-portfolio-list .list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list .list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.photo-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: auto;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-overlay:hover .overlay,
.photo-overlay:focus .overlay {
    transform: translateY(0%)
}

.our-portfolio-list .characteristics-name {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-portfolio-list .characteristics-text {
    font-weight: 400;
}

/* ================= /OUR-PORTFOLIO-SECTION4-MOBILE =================*/

/* ================= FOOTER-MOBILE =================*/
.footer {
    background-color: #2E2F42;
    padding: 96px 0;
}

.footer-main-link {
    font-family: Raleway;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 18px;
}

.accent-footer {
    color: #F4F4FD;
}

.logo-text-container {
    text-align: center;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 72px;
}

.social-media-container,
.p-form-footer {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.sm-text {
    margin-bottom: 16px;
}

.p-form-footer {
    margin-bottom: 16px;
    margin-top: 72px;
}

.social-media-container .social-list {
    margin: 0;
}

.input-form-footer {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 12px;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #FFF;
    opacity: 0.3;
}

.input-form-footer::placeholder {
    color: #FFF;
}

.form-footer-btn {
    margin-top: 16px;
    display: flex;
    min-width: 165px;
    height: 40px;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: #4D5AE5;
    border: none;
    cursor: pointer;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.form-footer-btn-svg {
    fill: #FFFFFF;
    margin-left: 16px;
}
/* ================= /FOOTER-MOBILE =================*/

/* ================= HEADER-TABLET =================*/
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .mobile-svg-open-button {
        display: none;
    }

    .modal-close-btn {
        display: none;
    }

    .modal-menu-wraper {
        display: none;
    }

    .header:hover,
    .header:focus {
        color: #404bbf;
    }

    .header-nav {
        color: #4d5ae5;
        display: flex;
        align-items: center;
    }

    .header-logo {
        color: #4d5ae5;
        font-weight: 700;
        letter-spacing: 0.03em;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        line-height: 1.17;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-right: 76px;
    }

    .menu-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .accent {
        color: #2e2f42;
    }

    .link {
        display: block;
        color: #2E2F42;
        font-weight: 500;
        text-decoration: none;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link:hover,
    .link:focus {
        color: #404bbf;
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    .current::after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        border-radius: 2px;
        background: #404BBF;
        height: 4px;
        bottom: -1px;
    }

    .address {
        font-style: normal;
    }

    .contacts-link {
        transition: color 500ms ease-out;
        text-decoration: none;
        color: #434455;
        gap: 12px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-link:hover,
    .contacts-link:focus {
        color: #404BBF
    }

    .page-header-container .address .menu-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    /* ================= BACKDROP-TABLET =================*/
    .modal {
        padding: 72px 24px 24px;
        width: 408px;
    }

    .modal-close-btn {
        display: block;
    }

    /* ================= /BACKDROP-TABLET =================*/


/* ================= /HEADER-TABLET =================*/

/* ================= HERO_SECTION-TABLET =================*/
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-photo-tablet.jpg");
        padding: 112px 0;
    }

    .hero-text {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;

    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1768x) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-photo-tablet@2x.jpg);
    }


/* ================= /HERO_SECTION-TABLET =================*/

/* ================= CHARACTERISTICS-SECTION2-TABLET =================*/
.benefits {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}
.benefits-item {
    width: calc((100% - 24px) / 2);
}
.characteristics-name {
    text-align: left;
}
/* ================= /CHARACTERISTICS-SECTION2-TABLET =================*/

/* ================= OUR-TEAM-SECTION3-TABLET =================*/
.photo-workers {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} 
.our-team-section .characteristics-name {
    text-align: center;
}
/* ================= OUR-TEAM-SECTION3-TABLET =================*/

/* ================= OUR-PORTFOLIO-SECTION4-TABLET =================*/
.our-portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.our-portfolio-list .list-item {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
}
/* ================= /OUR-PORTFOLIO-SECTION4-TABLET =================*/

/* ================= FOOTER-TABLET =================*/
.logo-text-container {
text-align: left;
}
.footer-text {
    width: 264px;
    margin-bottom: 0;
}
.footer .container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    margin-left: 108px;
}
.social-media-container .social-list {
    gap: 16px;
}
.p-form-footer {
    margin-top: 0;
}
.sm-text, .p-form-footer {
    text-align: left;
}
.form-footer {
    display: flex;
    gap: 24px;
}
.form-footer-btn {
    margin: 0;
}
.backdrop .modal {
    min-width: 408px;
    height: 584px;
}
.input-form-footer {
    width: 264px;
}
}
/* ================= /FOOTER-TABLET =================*/

/* ================= HEADER-DESCKTOP ==================*/
@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-photo-desctop@2x.jpg);
    }
}

/* ================= /HEADER-DESCKTOP =================*/

/* ================= HERO_SECTION-DESCTOP =================*/
@media screen and (min-width: 1158px) {
    .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-photo-desctop.jpg");
        max-width: 1440px;
        padding: 188px 0;
    }

    .hero-text {
        margin-bottom: 48px;
    }
    .container {
        min-width: 1158px;
    }

    .page-header-container .address .menu-list {
        flex-direction: row;
        gap: 40px;
    }


/* ================= /HERO_SECTION-DESCTOP =================*/

/* ================= CHARACTERISTICS-SECTION2-DESCTOP =================*/
.section-pad {
    padding: 120px 0;
}

.benefits {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 72px) / 4);
    width: 264px;
}
.icons-second-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4FD;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
}
.characteristics-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.characteristics-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
}
/* ================= /CHARACTERISTICS-SECTION2-DESCTOP =================*/

/* ================= /OUR-TEAM-SECTION3-DESCTOP =================*/

.our-team-section {
    background-color: #F4F4FD;
}
.photo-workers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: calc((100% - 72px) / 4);
    justify-content: center;
    align-items: center;
}
.info-workers {
    min-width: 264px;
}
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.photo-workers .name-text {
    text-align: center;
}
/* ================= /OUR-TEAM-SECTION3-DESCTOP =================*/

/* ================= OUR-PORTFOLIO-SECTION4-DESCTOP =================*/

.our-portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    }
    .our-portfolio-list .list-item {
    width: calc((100% - 48px) / 3);
    }
/* ================= OUR-PORTFOLIO-SECTION4-DESCTOP =================*/

/* ================= FOOTER-DESCTOP =================*/
.footer {
    padding: 100px 0;
}
.footer .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-left: 0;
    gap: unset;
}
.footer .social-list {
    gap: 16px;
}

.wraper-form-footer {
    margin-left: 80px;
}
.footer-text {
    margin-bottom: 0;
    width: 264px;
}

.p-form-footer {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-top: 0;
}
.form-footer {
    display: flex;
    gap: 24px;
}
.form-footer-btn {
    margin-top: 0;
}
.logo-text-container, .sm-text {
    text-align: left;
}
.social-media-container {
    margin-left: 120px;
}
/* ================= FOOTER-DESCTOP =================*/
}
/* ================= BACKDROP-MOBILE =================*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 4px;
    background: #FCFCFC;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    padding: 72px 16px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background: #fcfcfc;
    width: 288px;
    min-height: 623px;
    border: 1px solid #000;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    line-height: 0;
    border-radius: 50%;
    background-color: transparent;
    fill: #2E2F42;
    stroke: rgba(0, 0, 0, 0.10);
    width: 24px;
    height: 24px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    stroke: #FFFFFF;
    fill: #FFFFFF;
    border: none;

}

.modal-close-btn-svg {
    padding: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 24px;
    height: 24px;
}

.form-description {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.order-form {
    display: flex;
    flex-direction: column;
    column-gap: 8px;
    margin-left: auto;
    margin-right: auto;
}

.form-wraper {
    margin-bottom: 4px;
}

.form-label {
    display: block;
    flex-direction: column;
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17em;
    letter-spacing: 0.04em;
}

.form-input {
    background-color: transparent;
    color: #2E2F4266;
    outline: 0px solid transparent;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    margin-top: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input::placeholder {
    color: #2E2F4266;
}

.form-input:focus {
    border-color: #4D5AE5;
}

.input-wraper {
    position: relative;
}

.form-icon-input {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.form-icon-input {
    fill: #4D5AE5;
}

.textarea {
    display: block;
    resize: none;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px
}

.checkbox {
    margin-bottom: 24px;
}

.form-label-checkbox {
    display: flex;
    flex-shrink: 0;
    gap: 8px;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    margin-top: 16px;
    line-height: 1.17;
}

.form-own-checkbox {
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    min-width: 16px;
    height: 16px;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-privacy-policy-checkbox:checked+.form-label-checkbox>.form-own-checkbox {
    background-color: #404bbf;
    border-color: #404bbf;
    fill: #F4F4FD;
}

.form-own-checkbox-svg {
    fill: #F4F4FD;
    opacity: 0;
}

.user-privacy-policy-checkbox:checked+.form-label-checkbox .form-own-checkbox-svg {
    opacity: 1;
}

.accent-form {
    color: #4D5AE5;
    text-decoration-line: underline;
}

.form-button {
    cursor: pointer;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-weight: 500;
    border: none;
    padding: 0;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    color: #FFF;
    text-align: center;
    padding: 16px 32px;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ================= /BACKDROP-MOBILE =================*/

@media screen and (max-width: 767px) {
    .menu-list {
        display: none;
    }

    .address {
        display: none;
    }
    /* ================= MODAL-WINDOW-MOBILE =================*/
    /* ????????????????? */
    .mobile-svg-open-button {
        border: none;
        background-color: transparent;
        margin: 0;
        line-height: 0;
    }

    .modal-menu-wraper {
        position: fixed;
        background-color: #fff;
        width: 100%;
        height: 100%;
        z-index: 9999;
        top: 0;
        left: 0;
        transform: translateX(100%);
        transition: transform 250ms linear;
    }

    .modal-menu-wraper.is-open {
        transform: translateY(0%);
    }

    .menu-mobile-container {
        position: relative;
        max-height: 640px;
        padding: 72px 16px 40px;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }
    .mobile-menu-link {
        color: #2E2F42;
    }
    .mobile-menu-link-first {
        color: #404BBF;
    }
    .mobile-menu-social-link-first {
        color: #4D5AE5;
    }
    .mobile-menu-social-list {
        margin-top: 168px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 48px;
    }

    .mobile-menu-icon {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .mobile-menu-icon-item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4D5AE5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-icon-svg {
        fill: #F4F4FD;
        padding: 8px;
    }
}
/* ================= /MODAL-WINDOW-MOBILE =================*/
@media screen and (max-width: 1157px) {
    .icons-second-section {
            display: none;
        }
}
